[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HyejungKwon (cjscld15)
[access "refs/for/refs/*"]
	read = group user/HyejungKwon (cjscld15)
	push = group user/HyejungKwon (cjscld15)
	label-Code-Review = -2..+2 group user/HyejungKwon (cjscld15)
	label-Verified = -1..+1 group user/HyejungKwon (cjscld15)
	rebase = group user/HyejungKwon (cjscld15)
	removeReviewer = group user/HyejungKwon (cjscld15)
	submit = group user/HyejungKwon (cjscld15)
[access "refs/heads/*"]
	read = group user/HyejungKwon (cjscld15)
	create = group user/HyejungKwon (cjscld15)
	push = +force group user/HyejungKwon (cjscld15)
	pushMerge = group user/HyejungKwon (cjscld15)
[access "refs/tags/*"]
	push = group user/HyejungKwon (cjscld15)
	push = +force group user/HyejungKwon (cjscld15)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase always
	mergeContent = false
