choice
	prompt "Board select"

config TARGET_NXP5540_EVB
	bool "NXP5540_EVB"
	help
	  Support for nxp5540 evb platform.
endchoice

config SYS_VENDOR
	default "nxp5540"

config SYS_CONFIG_NAME
	string "Board header file"
	help
	  This option should contain the base name of board header file.
	  The header file include/configs/<CONFIG_SYS_CONFIG_NAME>.h
	  should be included from include/config.h.

source "board/nxp5540/evb/Kconfig"
