if TARGET_AVN_REF

config SYS_BOARD
	default "avn_ref"

config SYS_VENDOR
	default "s5p6818"

config SYS_CONFIG_NAME
	default "s5p6818_avn_ref"

config S5P6818_FEATURES
	bool
	default y
	select ARM64

endif

