/*
 * (C) Copyright 2017 Nexell
 * Sungwoo, Park <swpark@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;
#include "s5p4418.dtsi"
#include "s5p4418-clova-nxe2000.dtsi"

/ {
	model = "Naver dragon board based on s5p4418";
	cpu-model = "S5p4418";

	compatible = "nexell,s5p4418";

	mmc0:mmc@c0062000 {
		nexell,drive_dly = <0x00>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		frequency = <50000000>;
		status = "okay";
	};

	mmc2:mmc@c0069000 {
		nexell,drive_dly = <0x00>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		frequency = <50000000>;
		status = "okay";
	};

	ehci:usbhost@c0030000 {
		status = "okay";
	};

	dwc2otg@c0040000 {
		status = "okay";
	};

	nxe2000_gpio:i2c_gpio@0 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio_e 8 1>, /* SDA */
			<&gpio_e 9 1>; /* SCL */

		i2c-gpio,delay-us = <3>;
		nxe2000_gpio@32 {
			compatible = "nexell,nxe2000";
			reg = <0x32>;
		};
	};
	bq25895m_i2c:i2c@1 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio_d 5 0>, /* SDA */
			<&gpio_d 4 0>;   /* SCL */
		status ="okay";

	bq25895m@6a {
		compatible = "ti,bq25895m";
		reg = <0x6A>;
		stat-pin = <&gpio_a 13 0>;
		irq-pin = <&gpio_a 12 0>;
		ti,battery-regulation-voltage= <4192>; /*4.19Volt*/
		ti,charge-current = <960>;
		ti,termination-current = <50>;
		ti,precharge-current = <128>;
		ti,minimum-sys-voltage = <3600>;
		ti,boost-voltage = <4998>;

		ti,use-ilim-pin;
		};
	};
	eeprom_i2c:i2c_gpio@2 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio_d 3 0>, /* SDA */
			<&gpio_d 2 0>;   /* SCL */
		/* i2c-gpio,delay-us = <12>; */
		status ="okay";
		eeprom {
			compatible = "fmd,24c256a";
			reg = <0x50>;
			u-boot,i2c-offset-len = <2>;
		};
	};

	board-pwrkey {
		compatible = "nexell,board-pwrkey";
		pwrkey-gpio = <&gpio_alv 0 0>;
	};

	board_rev:rev@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = < &gpio_b 27 0 >,
		        < &gpio_b 28 0 >,
		        < &gpio_b 29 0 >;
		maps = < 2 0 >;
		compatible = "nexell,board_rev";
	};
};

&dp0 {
	status = "okay";
	module = <0>;
	lcd-type = "mipi";

	dp-device {
		hs_bitrate = <420>;
		lp_bitrate = <100>;
	};

	dp-sync {
		/* 67161600 */
		h_active_len = <800>;
		h_front_porch = <18>;
		h_back_porch = <18>;
		h_sync_width = <2>;
		v_active_len = <1280>;
		v_front_porch = <20>;
		v_back_porch = <10>;
		v_sync_width = <5>;
	};

	dp-ctrl {
		/* INPUT: PLL0 800MHz --> OUTPUT: 67161600 */
		/* Realclk: 800 / 12 --> 66.66666MHz */
		clk_src_lv0 = <0>;
		clk_div_lv0 = <12>;
		clk_src_lv1 = <7>;
		clk_div_lv1 = <1>;
		out_format = <3>;
		vs_start_offset = <0>;
		ev_start_offset = <0>;
		vs_end_offset = <0>;
		ev_end_offset = <0>;
	};

	dp-planes {
		layer_top {
			screen_width = <800>;
			screen_height = <1280>;
			back_color = <0x0>;
		};

		layer_1 {	/* RGB 1 */
			width = <800>;
			height = <1280>;
			format = <0x06530000>;
			pixel_byte = <4>;
		};
	};
};
