/*
 * (C) Copyright 2017 Nexell
 * Sungwoo, Park <swpark@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;
#include "s5p4418.dtsi"
#include "s5p4418-clova-nxe2000.dtsi"

/ {
	model = "Naver dragon board based on s5p4418";
	cpu-model = "S5p4418";

	compatible = "nexell,s5p4418";

	mmc0:mmc@c0062000 {
		nexell,drive_dly = <0x00>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		frequency = <50000000>;
		status = "okay";
	};

	mmc2:mmc@c0069000 {
		nexell,drive_dly = <0x00>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		frequency = <50000000>;
		status = "okay";
	};

	ehci:usbhost@c0030000 {
		status = "okay";
	};

	dwc2otg@c0040000 {
		status = "okay";
	};

	nxe2000_gpio:i2c_gpio@0 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio_e 8 1>, /* SDA */
			<&gpio_e 9 1>; /* SCL */

		i2c-gpio,delay-us = <3>;
		nxe2000_gpio@32 {
			compatible = "nexell,nxe2000";
			reg = <0x32>;
		};
	};

	board_rev:rev@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = < &gpio_b 27 0 >,
		        < &gpio_b 28 0 >,
		        < &gpio_b 29 0 >;
		maps = < 2 0 >;
		compatible = "nexell,board_rev";
	};
};

&dp0 {
	status = "okay";
	module = <0>;
	lcd-type = "mipi";

	dp-device {
		hs_bitrate = <420>;
		lp_bitrate = <100>;
	};

	dp-sync {
		/* 67161600 */
		h_active_len = <800>;
		h_front_porch = <40>;
		h_back_porch = <40>;
		h_sync_width = <4>;
		v_active_len = <1280>;
		v_front_porch = <16>;
		v_back_porch = <22>;
		v_sync_width = <2>;
	};

	dp-ctrl {
		/* INPUT: PLL0 800MHz --> OUTPUT: 67161600 */
		/* Realclk: 800 / 12 --> 66.66666MHz */
		clk_src_lv0 = <0>;
		clk_div_lv0 = <12>;
		clk_src_lv1 = <7>;
		clk_div_lv1 = <1>;
		out_format = <3>;
		vs_start_offset = <0>;
		ev_start_offset = <0>;
		vs_end_offset = <0>;
		ev_end_offset = <0>;
	};

	dp-planes {
		layer_top {
			screen_width = <800>;
			screen_height = <1280>;
			back_color = <0x0>;
		};

		layer_1 {	/* RGB 1 */
			width = <800>;
			height = <1280>;
			format = <0x06530000>;
			pixel_byte = <4>;
		};
	};
};
