/*
 * (C) Copyright 2016 Nexell
 * Young bok <ybpark@nexell.co.kr>
 *
 * SPDX-License-Identifier: GPL-2.0+
 */

/dts-v1/;
#include "s5p6818.dtsi"
#include "s5p6818-kick-st-nxe2000.dtsi"

/ {
	model = "Kick st board based on Nexell s5p6818";
	cpu-model = "S5p6818";

	compatible = "nexell,kick-st", "nexell,s5p6818";

	mmc0:mmc@c0062000 {
		frequency = <50000000>;
		nexell,drive_dly = <0x0>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		status = "okay";
	};

	mmc2:mmc@c0069000 {
		frequency = <50000000>;
		nexell,drive_dly = <0x0>;
		nexell,drive_shift = <0x03>;
		nexell,sample_dly = <0x00>;
		nexell,sample_shift = <0x02>;
		nexell,bus-width = <4>;
		index = <2>;
		status = "okay";
	};

	ehci:usbhost@c0030000 {
		status = "okay";
	};

	dwc2otg@c0040000 {
		status = "okay";
	};

	nxe2000_gpio:i2c_gpio@0 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio_b 11 1>,	/* SDA */
		      <&gpio_b 12 1>;	/* SCL */

		i2c-gpio,delay-us = <3>;
		nxe2000_gpio@32 {
			compatible = "nexell,nxe2000";
			reg = <0x32>;
		};
	};

	board_rev:rev@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = < &gpio_c 17 0 >,
		      < &gpio_c 15 0 >,
		      < &gpio_c 16 0 >;
		maps = < 7 0 >;
		compatible = "nexell,board_rev";
	};

};

&dp0 {
        status = "okay";
        module = <0>;
        lcd-type = "mipi";

	dp-device {
		hs_bitrate = <1000>;
		lp_bitrate = <80>;
	};

        dp-sync {
		h_active_len = <1920>;
		h_front_porch = <466>;
		h_back_porch = <11>;
		h_sync_width = <11>;
		v_active_len = <1200>;
		v_front_porch = <10>;
		v_back_porch = <5>;
		v_sync_width = <5>;
	};

	dp-ctrl {
		clk_src_lv0 = <0>;
		clk_div_lv0 = <5>;
		clk_src_lv1 = <7>;
		clk_div_lv1 = <1>;
		out_format = <3>;
		vs_start_offset = <2387>;
		ev_start_offset = <2387>;
		vs_end_offset = <0>;
		ev_end_offset = <0>;
	};

	dp-planes {
		layer_top {
			screen_width = <1920>;
			screen_height = <1200>;
			back_color = <0x0>;
		};

		layer_1 {	/* RGB 1 */
			width = <1920>;
			height = <1200>;
			format = <0x06530000>;
			pixel_byte = <4>;
		};
	};
};