choice
	prompt "Board select"

config TARGET_DRONE
	bool "DRONE"
	help
	  Support for s5p6818 drone platform.

config TARGET_ARTIK710_RAPTOR
	bool "ARTIK710_RAPTOR"
	help
	  Support for artik710_raptor platform.

config TARGET_AVN_REF
	bool "AVN_REF"
	help
	  Support for S5P6818 avn ref platform.
endchoice

source "board/s5p6818/drone/Kconfig"
source "board/s5p6818/avn_ref/Kconfig"
source "board/s5p6818/artik710_raptor/Kconfig"