choice
	prompt "Board select"

config TARGET_DRONE
	bool "DRONE"
	help
	  Support for s5p6818 drone platform.

config TARGET_ARTIK710_RAPTOR
	bool "ARTIK710_RAPTOR"
	help
	  Support for artik710_raptor platform.

endchoice

config SYS_VENDOR
	default "s5p6818"

source "board/s5p6818/drone/Kconfig"
source "board/s5p6818/artik710_raptor/Kconfig"